<html>
    <head>
        <title><%=book.title%></title>
    </head>
    <body>
        <div>
            <h1 class="title"><%=book.title%></h1>
            <h3><%=book.author%></h3>
            <p>
                <%=book.genre %>
               
            </p>
        </div>
    </body>
</html>