<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            <h1>Home page</h1>
            <p>
               <a href="/signin">Sign in</a><br/>
               <a href="/signup">Sign up</a><br/>
               <a href="/books">All books</a>
            </p>
        </div>
    </body>
</html>