<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            <h1><%=title%></h1>
            <p>
               <form action="api/signin" method="post">
                    user: <input type="text" name="username" />
                    <br/>
                    pw: <input type="password" name="password" />
                    <br/>
                    <input type="submit" value="submit" />
               </form>
            </p>
        </div>
    </body>
</html> 